<div class="jumbotron">
  <h1>'Allo, 'Allo!</h1>
  <p class="lead">
    <img src="images/yeoman.png" alt="I'm Yeoman"><br>
    Always a pleasure scaffolding your apps.
  </p>
  <p><a class="btn btn-lg btn-success" ng-href="#/">Splendid!<span class="glyphicon glyphicon-ok"></span></a></p>
</div>

<span>Titre: <input type="text" ng-model="titreFilm" /> Description: <input type="text" ng-model="descriptionFilm" /> 
<a class="btn btn-lg btn-success" ng-href="#/" ng-click="monClick()"><span class="glyphicon glyphicon-ok"></span></a>
</span>



<!-- | = a un filtre -->

<p>Hello <span ng-bind="nouveauFilm"></span></p>

<label><input type="number" ng-model="nbAffiche"></input> nb à afficher

<input type="checkbox" ng-model="active"></input></label>
<button class="btn btn-primary" ng-click="debut=debut+10">+10</button> {{debut}}
<!-- ng-hide > inverse ou fair ng-hide="!active"-->
<div ng-show="active">
<ul>
	<li class="liste" ng-repeat="film in listFilm | limitTo:nbAffiche:debut track by $index"><a ng-href="#film/{{$index}}/msg">{{film.titre}}</a>&nbsp<span class="glyphicon glyphicon-trash" ng-click="supprimerFilm(film)"></span></li>
</ul>
</div>





<div class="row marketing">
  <h4>HTML5 Boilerplate</h4>
  <p>
    HTML5 Boilerplate is a professional front-end template for building fast, robust, and adaptable web apps or sites.
  </p>

  <h4>Angular</h4>
  <p>
    AngularJS is a toolset for building the framework most suited to your application development.
  </p>

  <h4>Karma</h4>
  <p>Spectacular Test Runner for JavaScript.</p>
</div>
