<label> Afficher les films:

<input type="checkbox" ng-model="active"></input></label>

<!-- ng-hide > inverse ou fair ng-hide="!active"-->
<div ng-show="active">


<slick infinite="true" slides-to-show="3" slides-to-scroll="3" responsive="breakpoints" init-onload="true" data="MoviesDB.getMovies()">
 <div ng-repeat="film in MoviesDB.getMovies() track by $index">
  <a ng-href="#film/{{film.id}}">
	   <img ng-src="{{film.poster_path | URLPoster}}" alt="{{film.original_title}}" class="description" width="180" height="280"/>
	   <p>{{film.original_title}}</p>
	 </a>
 </div>
</slick>


</div>
